nav {
    height: auto;
    width: 100%;
    position: fixed;
    z-index: 10000000;
    top: 0;
    left: 0;
    background-color: $nav;

    @media (min-width: $lg) {
        background-color: rgba($nav, 0) !important;
        position: absolute;
        &.fixed {
            width: 100%;
            position: fixed;
            z-index: 10000000;
            top: -100%;
            left: 0;
            background-color: $nav !important;
            padding: 0.5rem 3rem !important ;
            animation: ease-in-out naving 0.8s forwards;
        }
    }

    .logo {
        max-width: 100px;
        display: block;
        @media (min-width: $lg) {
            max-width: 110px;
        }
    }
    .icon {
        width: 35px;
        height: 35px;
        margin-left: auto;
        border: 1px solid #fff;
        cursor: pointer;
        .father {
            perspective: 100px;
            span {
                display: block;
                width: 15px;
                height: 3px;
                margin: 3px 0;
                background-color: #fff;
                border-radius: 5px;
                transition: $transition;
                &.active1 {
                    transform: rotate(45deg) rotateY(180deg)
                        translate(-4px, 4px);
                }
                &.active2 {
                    opacity: 0;
                }
                &.active3 {
                    transform: rotate(-45deg) rotateY(-180deg)
                        translate(-4px, -4px);
                }
            }
        }
    }
    .links-container {
        height: 0px;
        width: 100%;
        overflow: hidden;
        transition: $transition;
        @media (min-width: $lg) {
            width: 100%;
            height: initial;
        }
        &.active {
            margin-top: 15px;
            height: 315px;
            @media (min-width: $lg) {
                margin-top: initial;
                height: initial;
            }
        }
        .links {
            @media (min-width: $lg) {
                display: flex;
                align-items: center;
            }
            ul {
                margin: 0 !important;
                &:first-of-type {
                    @media (min-width: $lg) {
                        margin-left: 60px !important;
                    }
                    li {
                        list-style: none;
                        @media (min-width: $lg) {
                            display: inline-block;
                        }
                        a {
                            font-weight: bold;
                            display: block;
                            width: 100%;
                            padding: 5px 20px;
                            color: #abb7c4;
                            transition: $transition;
                            @media (min-width: $lg) {
                                padding: 0 15px;
                            }
                            &.active {
                                color: $yellow;
                            }
                            &:hover {
                                text-decoration: none;
                                color: $yellow;
                            }
                        }
                    }
                }
                &:last-of-type {
                    @media (min-width: $lg) {
                        display: flex;
                        align-items: center;
                        margin-left: auto !important;
                    }
                    li {
                        list-style: none;
                        @media (min-width: $lg) {
                            display: inline-block;
                        }
                        &:first-of-type {
                            padding: 10px 20px 10px;
                            @media (min-width: $lg) {
                                padding: 0 15px;
                            }
                            a {
                                display: block;
                                width: 50px;
                                height: 50px;
                                border-radius: 50%;
                                line-height: 50px;
                                text-align: center;
                                color: #fff;
                                font-weight: bold;

                                &:hover {
                                    text-decoration: none;
                                }
                            }
                        }
                        &:last-of-type {
                            padding: 5px 20px;
                            @media (min-width: $lg) {
                                padding: 0 15px;
                            }
                            button {
                                display: block;
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}

.button-cover:before {
    counter-increment: button-counter;
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    color: #d7e3e3;
    font-size: 12px;
    line-height: 1;
    padding: 5px;
}
// .button-cover
.knobs,
.layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.button {
    position: relative;
    top: 50%;
    width: 74px;
    height: 36px;
    // margin: -20px auto 0 auto;
    overflow: hidden;
}

.button.r,
.button.r .layer {
    border-radius: 100px;
}

.button.b2 {
    border-radius: 2px;
}

.checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs {
    z-index: 2;
}

.layer {
    width: 100%;
    background-color: #0b1a2a;
    transition: 0.3s ease all;
    z-index: 1;
}

#button-3 .knobs:before {
    content: "Dark";
    position: absolute;
    top: 3px;
    left: 4px;
    width: 30px;
    height: 30px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    background-color: #4280bf;
    border-radius: 50%;
    transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
}

#button-3 .checkbox:active + .knobs:before {
    width: 46px;
    border-radius: 100px;
}

#button-3 .checkbox:checked:active + .knobs:before {
    margin-left: -26px;
}

#button-3 .checkbox:checked + .knobs:before {
    content: "Light";
    left: 42px;
    background-color: $pink;
}

#button-3 .checkbox:checked ~ .layer {
    background-color: #fefefe;
}

@keyframes naving {
    0% {
        top: -100%;
    }
    100% {
        top: 0%;
    }
}
