form.SearchBarForm{
    padding-top:0px ;
    @media (min-width:$sm){
        padding-top: 20px;
    }
    @media (min-width:$lg){
        padding-top: 0px;
    }
    .search-bar{
        box-shadow: 0 0 0px 2px #000;
        button{
            @extend .search-icon;
            background: none;
            border: none;
        }
        .search{
            border: none;
            font-size: 18px;
            color: #fff;
            &::placeholder{
                color: $pColor;
            }
        }
    }
}
.results{
    >ul{
        position: absolute;
        top: 1px;
        left: 0;
        height: auto;
        width: 100%;
        z-index: 100;
        box-shadow: 0 2px 0px 2px #000;
        li{
            list-style: none;
            &:not(:last-of-type){
                border-bottom: .5px solid rgba($pColor,  .2);
            }
            a{
                color: #fff;
                text-decoration: none;
                &:hover{
                    text-decoration: none;
                }
                .img{
                    width: 80px;
                    img{
                        height: 46px;
                    }
                }
            }
        }
    }
}