$main :#020D18;
$main_light:#fff;
$lightMain:#06121E;
$lightMain_light:#F2F6F8;
$nav:#0f2133;
$pink:#DD003F;
$yellow:#dcf836;
$pColor:#abb7c4;
$transition:.2s all ease-in-out;
$sm:576px;
$md:768px;
$lg:992px;
$xl:1200px;
$section-padding:80px 0;